<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>The database is run by the <%= link_to "Bioinformatics group", "http://www.bornberglab.org" %> of the <%= link_to "Institute of Evolution and Biodiversity", "http://ieb.uni-muenster.de" %> </p>
