<div class="center hero-unit">
    <h1> Welcome to IIPD </h1>
    <h2>the Invertebrate Immune Proteine Database</h2>
    <p>
        The IIPD stores immune proteins from invertebrates.
    </p>
    <p>
        It will provide the user with the ability to browse through the dataset and get a quick overview or start highly specified searches for proteins.

    </p>
</div>
