<% provide(:title, 'Browse proteins') %>
<% content_for :head do %>
<% end %>
<h1>Browse proteins</h1>
<table id="proteins" class="table table-striped table-bordered display" data-source="<%= proteins_url(format: "json") %>">
    <thead>
        <tr>
            <td>Protein ID</td>
            <td>Name</td>
            <td>Length</td>
            <td>Taxon</td>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>

